.main{
  margin: 0 auto;
  width: 400px;
}
  input{
  width: 300px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}
.main_result_field{
  background: white;
  width: 300px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}
.convert-button{
  background: rgb(0,255,0);
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  text-transform: uppercase;
  margin-top: 10px;
  color: rgb(15,0,204);
  cursor: pointer;
}
